body {
  margin: 0;
  padding: 0;
}

#logo {
  position: absolute;
  left: 50%;
  top: 200px;
  transform: translate(-50%,-50%);
}

#search_box {
  position: absolute;
  left: 50%;
  top: -50;
  transform: translate(-50%,-50%);
  width: 550px;
  height: 30px;
}

#form {
  position: absolute;
  left: 50%;
  top: 400px;
  transform: translate(-50%,-50%);
  clear: both;
}

li {
  display: inline;  
}

.navbar {
  color: gray;
  text-decoration: none;
  
}

#nav {
  float: right;
}

#footer {
  height: 40px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #E8E8E8;
  
}

#foot-right {
  float: right;
}

#foot-left {
  float: left;
}